#!/usr/bin/env sh

export EDITOR='vim'

function awsnames {
    aws ec2 describe-instances \
        --filters "Name=private-ip-address,Values=$1" \
        --query 'Reservations[*].Instances[*].[Tags|?Key==`Name`].Value]'
}

function awsrole {
    credentials="$(aws sts assume-role --role-arn $1 --role-session-name jaime-dev)"
    export AWS_ACCESS_KEY_ID="$(echo $credentials | jq -r .Credentials.AccessKeyId)"
    export AWS_SECRET_ACCESS_KEY="$(echo $credentials | jq -r .Credentials.SecretAccessKey)"
    export AWS_SESSION_TOKEN="$(echo $credentials | jq -r .Credentials.SessionToken)"
}

export WORKON_HOME=$HOME/.virtualenvs
export PROJECT_HOME=$HOME/Devel
{{- if eq .chezmoi.os "darwin" }}
export VIRTUALENVWRAPPER_PYTHON=/usr/local/bin/python3
export VIRTUALENVWRAPPER_VIRTUALENV=$HOME/Library/Python/3.8/bin/virtualenv
source /usr/local/bin/virtualenvwrapper.sh
{{- else }}
export VIRTUALENVWRAPPER_PYTHON="$(brew --prefix)/bin/python3"
source $HOME/.local/bin/virtualenvwrapper.sh
{{- end }}

alias watchkube='watch -n 0.5 kubectl get pod'
alias awsrole=awsrole

# direnv
eval "$(direnv hook zsh)"

source <(kubectl completion zsh)
source <(helm completion zsh)

export PATH="$HOME/.pyenv/bin:$PATH"
eval "$(pyenv init -)"

export PATH="$HOME/go/bin:$PATH"
